@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap');

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
     background-color:#181719;
     color:#fff;
     margin:3rem 5rem;
     opacity:1;
     transition:opacity 0.5s ease-in-out;
}

.flex-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.flex-container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Navbar */
li{
    list-style: none;
    text-decoration: none;
    
}

.nav-item{
    color:#fff;
    font-family: 'Montserrat',
    sans-serif;
    font-size:1.25rem;
    font-style:normal;
    font-weight:500;
    text-decoration: none;
}

.nav-link{
    display:inline-block;
    padding:0.75rem 2rem;
}

.active{
    font-style:normal;
    font-weight: 700;
}

.nav-brand{
    align-self:flex-start;
    border:1px solid #fff;
    color:#fff;
    font-size:1rem;
    text-decoration: none;
    padding:0.75rem 0.5rem;  
}

/* Interior Content */
.interior-details{
    flex-wrap:wrap;
    margin-top:7rem;
}

.interior-image-content {
    width: 60%;
}

.interior-title{
    color:#fff;
    font-family:'Lora',serif;
    font-size:3rem;
    font-style:normal;
    font-weight:400;
    margin-bottom:2.5rem;
}

.interior-description{
    color:#fff;
    font-family:"Montserrat",sans-serif;
    font-size:1.5rem;
    font-style:normal;
    font-weight:300;
    margin-bottom:2.5rem;
}

.interior-text-content {
    width: 40%;
}

.interior-image{
    width:90%;
    height:100%;
    margin-left:4.5rem;
}

.interior-link{
    color:#fff;
    font-family: 'Montserrat',
    sans-serif;
    font-size:1.3rem;
    font-style: normal;
    font-weight:600;
    text-decoration: none;
}

/* Creator Card */

.creator{
    background-color:#181719;
    width: 20rem;
    height:11rem;
    padding:1rem 1.25rem;
    display:inline-block;
    position:absolute;
    right:10rem;
    top: 40.5rem;
}

.creator-details{
    margin-bottom:1rem;
}

.creator-image{
    border-radius:50%;
    width:20%;
    display:inline-block;
    margin-right:0.5rem;
}

.creator-info{
    display:inline-block;
}

.creator-name{
    color:#fff;
    font-family:"Montserrat",sans-serif;
    font-size:1.5rem;
    font-style:normal;
    font-weight:500;
}

.creator-job{
    color:#fff;
    font-family:"Montserrat",
    sans-serif;
    font-size:1.2rem;
    font-style:normal;
    font-weight:300;
}

.tag{
    color:#fff;
    font-family:"Lora",serif;
    font-size:1.5rem;
    font-style:normal;
    font-weight:700;
}

/* Footer */
footer>div{
    color:#fff;
    font-family:"Montserrat",sans-serif;
    font-size:1rem;
    font-style: normal;
    font-weight:600;
    position:absolute;
    bottom:1rem;
    left:50%;
    transform:translateX(-50%);
}

.burger {
    display: none;
    font-size:2.5rem;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}

.x{
    display:none;
    font-size:2.5rem;
    cursor:pointer;
    transition:all 0.5s ease-in-out;
}

.clear{
    opacity:1;
}

.opaque{
    opacity: 0;
    transition:opacity 0.5s ease-in-out;
}


@media only screen and (min-width:1600px){
    footer>div {
        font-size: 1rem;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .creator{
         width: 25rem;
         height:15rem;
         padding:1.5rem 2.25rem;
         right:20rem;
         top: 50.5rem;
    }
}

@media only screen and (max-width:400px){
    body{
        margin:1.2rem 0.75rem;
    }

    .burger{
        display:inline-block;   
    }

    .navbar{
        display:none;
    }

    .flex-container{
        flex-direction:column;
    }

    .interior-description {
        font-size: 1.1rem;
        margin-bottom: 1.2rem;
        width:65%;
    }

    .interior-details{
        margin-top:3rem;
    }

    .interior-title{
        font-size:2.5rem; 
        margin-bottom: 1.2rem;  
    }

    .interior-text-content {
        width: 100%;
        margin-bottom:1.5rem;
    }

    .interior-image-content {
        width: 100%;
    }

    .interior-image {
        width: 100%;
        margin-left:0;
    }

    .interior-link {
        font-size: 0.9rem;
    }

    .creator {
        width: 13rem;
        height: 7rem;
        padding: 0.5rem 0.75rem;
        top:36rem;
        right: 50%;
        transform:translateX(50%);
        margin-bottom:5rem;
    }

    .creator-name {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .creator-job {
        margin-top:0.25rem;
        font-size: 0.75rem;
        font-weight: 300;
    }

    .creator-details {
        margin-bottom: 0.5rem;
    }

    .tag {
        font-size: 1.1rem;
        font-weight: 700;
    }

    footer>div {
        font-size: 0.6rem;
        bottom: 1rem;
        border-top:1px solid #fff;
        padding:0.5rem 0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}